body {
  background-color: #7689ff;
}
#circle {
  position: absolute;
  background-image: url("/circle.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 45vw;
  height: 70vh;
  right: 0px;
  z-index: -1;
}

#sally {
  position: absolute;
  width: 640px;
  height: 620px;
  left: 959px;
  top: 115px;
  background-image: url(/Saly-10.png);
  background-size: contain;
  background-repeat: no-repeat;
}
